.header {
  height: 55px;
}
.display {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
.cineton {
  padding: 0 15px;
  font-size: 24px;
}
.grey {
  color: gray;
  font-size: 20px
}
.header-left {
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 55px;
}
.header-right {
  display: flex;
}
.header-right li {
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 55px;
}
.header-left li {
  display: flex;
  align-items: center;
  height: 55px;
}
.movies input {
  padding: 10px 30px;
  border-radius: 15px;
  width: 200px;
  margin: 0 10px;
}