<div class="banner">
  <h1>TED Recommends</h1> 
  <h2>Talks recommended just for you, delivered to your inbox</h2>
  <h4>What interests you?</h4>
  <div class="intereses">
    <li>Technology</li>
    <li>Science</li>
    <li>Design</li>
    <li>Business</li>
    <li>Collaboration</li>
    <li>Innovation</li>
    <li>Social change</li>
    <li>Health</li>
    <li>Nature</li>
    <li>The environment</li>
    <li>The future</li>
    <li>Communication</li>
    <li>Activism</li>
    <li>Child development</li>
    <li>Personal growth</li>
    <li>Humanity</li>
    <li>Society</li>
    <li>Identity</li>
    <li>Community</li>
  </div>
  <button class="button-next">Next</button> 
  <p>1/2</p> 
  <p>Already have a TED account?  Sign in to see your recommendations</p> 
</div>
