<div class="movies">
  <div class="buscador">
    <form action=""(submit)="handleSubmit($event)"> 
      Busca el resumen de alguna pelicula :
      <input type="text" placeholder="Search Movie" name="name">
    </form>
    <ul class="searchmovie">
      <li class="movie-item" *ngFor="let movie of movies">
        <img src={{movie.medium_cover_image}} alt="MovieSearch" width="100" height="150">
        <div class="movieleft">
          <h3>{{movie.title}}</h3>
          <p ALIGN="justify">{{movie.description_full}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="movie-list">
    <ul class="carrete">
      <li *ngFor="let movielist of movielist">
        <img src={{movielist.medium_cover_image}} alt="pelicarrete" width="180" height="250">
        <p>{{movielist.title}}</p> 
      </li>
    </ul>
  </div>
</div>
